html {
    min-height: 100%;
}
body{
    position: relative;
}
.footer-container {
    text-align: center;
}
.footer {
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f8f9fa;
}

/* Loader spinner */
#loader-text {
  color: grey;
  font-size: 10sp;
  text-align: center;
}

.loader, .loader:after {
  border-radius: 50%;
  width: 6em;
  height: 6em;
}

.loader {
  margin: 0.5em auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 0.8em solid #ddd;
  border-right: 0.8em solid #ddd;
  border-bottom: 0.8em solid #ddd;
  border-left: 0.8em solid #007bff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}