<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', path='/css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', path='/images/favicon.png') }}" sizes="32x32" />
    <title>COVID-19 Search Engine</title>
  </head>

  <body class="d-flex flex-column min-vh-100">
    <!-- Navbar start -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">COVID-19 Search Engine</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/ru_qa">Ru Question-Answering</a>
        </li>
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="#">About</a>-->
<!--        </li>-->
      </ul>
      <div class="d-flex">
      <a class="nav-item" href="https://www.who.int/home">World Health Organization</a></div>
    </div>
  </nav>

    <!--  Page content start  -->
    {% block content %}{% endblock content %}

    <!-- Footer start -->
    <div class="wrapper flex-grow-1"></div>
    <footer>
      <div class="footer footer-container">
        <small class="text-muted">COVID19 Q&A system &copy; Julia Kuzkina </small>
      </div>
    </footer>

    {% block scripts %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <script>
      function validateForm() {
        var x = document.forms["searchForm"]["question"].value;
        if (x.replaceAll(' ', '') == "") {
          return false;
        }
      }

      var loadingSpinner = $('#loading-spinner');
      var isLoading = false;

      loadingSpinner.hide();

      $('form').submit(function(e) {
        if (isLoading == true) return;
        isLoading = true;
        loadingSpinner.show();
        blockActivities();
      });

      function submitForm(question) {
        if (isLoading == true) return;
        isLoading = true;
        loadingSpinner.show();
        document.getElementById('question').value = question;
        document.forms['searchForm'].submit();
        blockActivities();
        isLoading = true;
      }

      function blockActivities() {
        var activities = document.getElementsByClassName('activity');
        Array.prototype.forEach.call(activities, function(node) {
          node.disabled = true;
        });
      }
    </script>
    {% endblock %}
  </body>
</html>