{% extends "base.html" %}

{% block content %}

<div class="container">
  <div class="col-lg-12 mt-5 mb-3">
    <h1><a href="{{ meta.url }}">{{ doc_title }}</a></h1>

    <span class="row justify-content-md-center text-muted">
      {{ meta.authors }}
    </span>
    <span class="row justify-content-md-center text-muted mt-1">
      Journal: {{ meta.source }} • DOI: {{ meta.doi }} • PMCID: {{ meta.pmcid }}
    </span>
    <span class="row justify-content-md-center text-muted mt-1">
      {{ meta.publish_time }}
    </span>

    <p class="mt-2" id="document-body">{{ doc_text }}</p>
  </div>
</div>

<script>
  if(window.location.hash) {
        let hash = window.location.hash.substring(1).split('&');
        let documentNode = document.getElementById('document-body');
        let text = documentNode.innerHTML;

        let start = undefined;
        let end = undefined;
        hash.forEach(param => {
            let name = param.split('=')[0];
            let value = param.split('=')[1];
            if(name != null && value != null){
                if(name == 'start') start = value;
                if(name == 'end') end = value;
            }
        });
        if(start >= 0 && start < end && end <= text.length){
            documentNode.innerHTML = text.substring(0, start) + '<mark id="answer">' + text.substring(start, end) + '</mark>' + text.substring(end, text.length);
        }
  }
</script>
<script>
  window.onload = function() {
    let el = document.getElementById('answer');
    el.scrollIntoView({behavior: 'smooth'});
  }
</script>
{% endblock %}