{% extends "base.html" %}

{% block content %}

<div class="container">
  <div class="container">
    <div class="row justify-content-md-center mt-5">
      <h3>Get answers to complex scientific questions related to COVID-19</h3>
      <h5 class="mt-3">COVID-19 Search engine includes data from CORD-19 dataset. Data is updated weekly</h5>
    </div>
  </div>

  <form method="get" id="searchForm" action="/search" onsubmit="return validateForm()">
    <div class="input-group mb-2 mt-5">
      <input type="text" class="form-control" placeholder="Ask a question" name="question" id="question" required>
      <div class="input-group-append">
        <input class="btn btn-primary activity" type="submit" value="Search">
      </div>
    </div>
  </form>
  <div id="loading-spinner">
    <div class="loader"></div>
    <p id="loader-text">Please wait. Loading may take up to 1.5 minutes</p>
  </div>

  <div class="col-md-4 offset-md-4 mt-5">
    <p>Example questions:</p>
    <div class="row justify-content-md-center">
      <ul class="list-group">
        {% for example in examples %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <a role="button" class="activity" style="color: #007bff;" onclick="submitForm('{{ example }}');">{{ example }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
