{% extends "base.html" %}

{% block content %}


<div class="container">

  <form method="get" id="searchForm" action="/search">
    <div class="row justify-content-md-center mt-5">
      <div class="input-group mb-2">
        <input type="text" class="form-control" value="{{ question }}" placeholder="Ask a question" name="question" id="question" >
        <div class="input-group-append">
          <input class="btn btn-primary" type="submit" value="Search">
        </div>
      </div>
    </div>
  </form>

  <div class="col-lg-12 mt-5 mb-3">
    {% for answer in answers %}
      <div class="card mb-2" >
        <div class="card-body">
          <h5 class="card-title">
            <a href="/document/{{ answer['doc'].id }}#start={{ answer['offset_start_in_doc'] }}&end={{ answer['offset_end_in_doc'] }}"
               class="card-link">{{ answer['doc'].title }}</a>
          </h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ answer['doc'].authors }}</h6>
          <p class="card-text">... {{ answer['start_ctx'] }}
            <mark>{{ answer['answer'] }}</mark>
            {{ answer['end_ctx'] }} ...
          </p>
          {% if answer['doc'].url %}
            <a href="{{ answer['doc'].url }}" class="card-link">Open source link</a>
          {% endif %}
        </div>

        <div class="card-footer text-muted">
          <ul class="list-group">
            <li class="d-flex justify-content-between align-items-center fs-75">
              <div style="font-size:75%;font-weight:700">
                <span data-toggle="tooltip" data-placement="top" title="Journal">{{ answer['doc'].journal }} |</span>
                <span data-toggle="tooltip" data-placement="top" title="Publish date">{{ answer['doc'].publish_time }}</span>
              </div>
              <span class="badge badge-primary badge-pill" data-toggle="tooltip" data-placement="top" title="Model confidence">
                {{ answer['probability'] }}
              </span>
            </li>
          </ul>
        </div>
      </div>
    {% endfor %}

  </div>
</div>
{% endblock %}