{% extends "base.html" %}

{% block content %}

<div class="container">
  <div class="col-lg-12 mt-5 mb-3">
    {% for q, a in qas.items() %}
      <div class="card mb-2" >
        <div class="card-body">
          <h5 class="card-title">
            <a href="#"
               class="card-link">{{ q }}</a>
          </h5>
          <p class="card-text"><strong>Ответ:</strong> {{ a['start_ctx'] }}
            <mark>{{ a['answer'] }}</mark>
            {{ a['end_ctx'] }}
          </p>

          <p class="card-text">{{ a['doc_left'] }}
            <mark>{{ a['answer'] }}</mark>
            {{ a['doc_right'] }}
          </p>
        </div>

        <div class="card-footer text-muted">
          <ul class="list-group">
            <li class="d-flex justify-content-between align-items-center fs-75">
              <span class="badge badge-primary badge-pill" data-toggle="tooltip" data-placement="top" title="Model confidence">
                {{ a['probability'] }}
              </span>
            </li>
          </ul>
        </div>
      </div>
    {% endfor %}

  </div>
</div>
{% endblock %}